/* =============
    Section-9
============= */

#section-9 {

    background-color: $lightblue;
    color: $white;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: " . section-9 .";

    @include md {
        padding: 60px 0;
        gap: 60px;
    }

    @include lg {
        padding: 80px;
        gap: 80px;
        grid-template-columns: 10% auto 10%;
    }

    @include xl{
        grid-template-columns: auto 1200px auto;
    }
    #section-9-content {
        grid-area: section-9;

        #visit {
            @include md {
                display: grid;
                padding: 20px;
                gap: 20px;
                grid-template-columns: auto 45% 45% auto;
                grid-template-areas:
                " h1 h1 h2 h2 "   
                " . p p .";
            }

            @include lg {
                grid-template-columns: 50% auto;
                grid-template-areas:
                    " h2 h1 "
                    " p  h1";
            }

            h1 {
                grid-area: h1;
                font-size: rem-calc(16);
                text-align: center;
                margin-top: 30px;
               
                @include md {
                    font-size: rem-calc(30);
                }

                @include lg {
                    font-size: rem-calc(40);
                    transform: rotate(90deg);
                    margin: 200px 50px 0 0;
                }
            }

            p {
                grid-area: p;
                text-align: justify;
                font-size: rem-calc(16);

                @include md {
                    font-size: rem-calc(20);

                }

                @include lg {
                    font-size: rem-calc(25);

                }
            }

            >div {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-template-areas: ". h2 .";
                padding-top: 20px;

                h2 {
                    grid-area: h2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: rem-calc(16);
                    background-color: $black;
                    color: $white;
                    height: 32px;
                    width: 182px;
                  
                    @include md {
                        font-size: rem-calc(20);
                        height: 71px;
                        width: 268px;
                    }

                    @include lg {
                        font-size: rem-calc(30);
                        height: 71px;
                        width: 393px;
                    }
                    a:link, a:visited{
                        color: $white;
                        transition: 0.25s;
                        text-decoration: none;
                    }
        
                    a:hover, a:active{
                        color: $brown;
                    }
                }
            }
        }

        #section-9-gallery {
            ul {
                @include md {
                    display: grid;
                    gap: 20px;
                    grid-template-columns:60% auto;
                    grid-template-areas: "g5 g6";
                }

                @include lg {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-areas: "g4 g5 g6 . .";
                }

                li{
                    background-position: center;
                    background-size: cover;
                }
                
                #g4 {
                    div{
                        background-image: url("../img/section-9/left.jpg");
                        height: 218px;
                     
                    }

                    @include md{
                        grid-area: g4;
                    }
                    @include lg{
                        width: 238px; 
                    }
                }
                
                #g5 {
                    div{
                    background-image: url("../img/section-9/middle.jpg");
                    height: 218px;
                
                    }

                    @include md{
                        grid-area: g5;  
                    }

                    @include lg{
                        width: 238px; 
                    }

                }

                #g6 {
                    div{
                        background-image: url("../img/section-9/right.jpg");
                        height: 218px;
                    }
                        
                    @include md{
                        grid-area: g6;  
                    } 
                    @include lg{
                        width: 238px; 
                    }
                }
            }
        }
    }
}