/* =============
    Section-8
============= */

#section-8 {
    background-color: $lightgrey;
    color: $blue;
    display: grid;
    gap: 40px;
    padding-bottom: 40px;
    grid-template-columns: 15% auto 15%;
    grid-template-areas: ". section-8 .";

    @include md {
        grid-template-columns: 18% auto 18%;
        gap: 60px;
        padding-bottom: 60px;

    }

    @include lg {
        grid-template-columns: 25% auto 25%;
        gap: 80px;
        padding-bottom: 80px;
    }

    @include xl{
        grid-template-columns: auto 1200px auto;
    }
    
    >div {
        grid-area: section-8;
      

            @include md{
                gap: 60px;
            }
            @include lg{
                gap: 80px;
            }
        

        h1 {
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem-calc(16);
            background-color: $black;
            color: $white;
            height: 32px;
            width: 182px;

            @include md {
                display: none;
            }
            a:link, a:visited{
                color: $white;
                transition: 0.25s;
                text-decoration: none;
            }

            a:hover, a:active{
                color: $brown;
            }
            
        }
        #button{
            @include md{
                display: grid;
                gap: 40px;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas:
                ". h2 .";
            }
            

            h2 {
                grid-area: h2;
                margin-bottom: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: rem-calc(16);
                background-color: $black;
                color: $white;
                height: 32px;
                width: 182px;
    
                @include md {
                    font-size: rem-calc(20);
                    height: 71px;
                    width: 360px;
                }
    
                @include lg {
                    font-size: rem-calc(30);
                    height: 71px;
                    width: 450px;
                }
                a:link, a:visited{
                    color: $white;
                    transition: 0.25s;
                    text-decoration: none;
                }
    
                a:hover, a:active{
                    color: $brown;
                }
            }
        }
        

        h3 {
            text-align: center;
            font-size: rem-calc(16);

            @include md {
                display: none;
            }
            a:link, a:visited{
                color: $blue;
                transition: 0.25s;
                text-decoration: underline;
            }

            a:hover, a:active{
                color: $brown;
                text-decoration: none;
            }
        }
    
                h4 {
                    text-align: center;
                    @include md {
                        font-size: rem-calc(20);
                    }

                    @include lg {
                        font-size: rem-calc(25);
                    }
                    a:link, a:visited{
                        color: $blue;
                        transition: 0.25s;
                        text-decoration: none;
                    }

                    a:hover, a:active{
                        color: $brown;
                    }
                }
        
        
    }
}