/* =============
    Section-9
============= */

#section-9 {
    background-color: $lightblue;
    color: $white;
    display: grid;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    grid-template-areas: " . section-9 .";
    grid-template-columns: 10px auto 10px;
    padding: 40px 0;

    @include md {
        padding: 60px 0;
        gap: 60px;
    }

    @include lg {
        padding: 80px;
        gap: 80px;
        grid-template-columns: 10% auto 10%;
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    #section-9-content {
        grid-area: section-9;

        #visit {
            @include md {
                display: grid;
                gap: 20px;
                padding: 20px;
                grid-template-columns: auto 45% 45% auto;
                grid-template-areas:
                    " h1 h1 h2 h2 "
                    " . p p .";
            }

            @include lg {
                grid-template-columns: 50% auto;
                grid-template-areas:
                    " h2 h1 "
                    " p  h1";
            }

            h1 {
                font-size: rem-calc(16);
                grid-area: h1;
                margin-top: 30px;
                text-align: center;

                @include md {
                    font-size: rem-calc(25);
                }

                @include lg {
                    font-size: rem-calc(30);
                    margin: 200px 50px 0 0;
                    transform: rotate(90deg);
                }
            }

            p {
                font-size: rem-calc(16);
                grid-area: p;
                text-align: justify;

                @include md {
                    font-size: rem-calc(18);

                }
            }

            >div {
                display: grid;
                grid-template-areas: ". h2 .";
                grid-template-columns: repeat(3, 1fr);
                padding-top: 20px;

                h2 {
                    align-items: center;
                    background-color: $black;
                    color: $white;
                    display: flex;
                    font-size: rem-calc(16);
                    grid-area: h2;
                    height: 32px;
                    justify-content: center;
                    width: 182px;

                    @include md {
                        font-size: rem-calc(20);
                        height: 71px;
                        width: 268px;
                    }

                    @include lg {
                        font-size: rem-calc(25);
                        height: 71px;
                        width: 393px;
                    }

                    a:link,
                    a:visited {
                        color: $white;
                        transition: 0.25s;
                        text-decoration: none;
                    }

                    a:hover,
                    a:active {
                        color: $brown;
                    }
                }
            }
        }

        #section-9-gallery {
            ul {
                @include md {
                    display: grid;
                    gap: 20px;
                    grid-template-columns: 60% auto;
                    grid-template-areas: "g5 g6";
                }

                @include lg {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    grid-template-areas: "g4 g5 g6 . .";
                }

                li {
                    background-position: center;
                    background-size: cover;
                }

                #g4 {
                    div {
                        background-image: url("../img/section-9/left.jpg");
                        height: 218px;
                    }

                    @include md {
                        grid-area: g4;
                    }

                    @include lg {
                        width: 238px;
                    }
                }

                #g5 {
                    div {
                        background-image: url("../img/section-9/middle.jpg");
                        height: 218px;
                    }

                    @include md {
                        grid-area: g5;
                    }

                    @include lg {
                        width: 238px;
                    }
                }

                #g6 {
                    div {
                        background-image: url("../img/section-9/right.jpg");
                        height: 218px;
                    }

                    @include md {
                        grid-area: g6;
                    }

                    @include lg {
                        width: 238px;
                    }
                }
            }
        }
    }
}