/* =============
    Section-4
============= */

#section-4 {
    background-color: $lightblue;
    display: grid;
    grid-template-areas: ". section-4 .";
    grid-template-columns: 15px auto 15px;
    padding-top: 40px;

    @include md {
        padding-top: 60px;
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    >div {
        grid-area: section-4;

        ul {
            @include md {
                display: grid;
                gap: 20px;
                grid-template-areas: "g2 g1"
                    "g3 g3";
                grid-template-columns: repeat(2, 1fr);
            }

            @include lg {
                grid-template-areas: "g2 g3 g1";
                grid-template-columns: repeat(3, 1fr);
            }

            li {
                margin-bottom: 40px;

                @include md {
                    margin-bottom: 74px;
                }

                div {
                    background-position: center;
                    background-size: cover;
                }
            }

            #g1 {
                @include md {
                    grid-area: g1;
                }

                div {
                    background-image: url("../img/section-4/1.jpg");
                    height: 231px;
                    width: 100%;

                    @include md {
                        grid-area: g1;
                        height: 214px;
                        margin-right: 20%;
                    }

                    @include lg {
                        height: 407px;
                        margin-right: 0%;
                    }
                }
            }

            #g2 {
                @include md {
                    grid-area: g2;
                }

                div {
                    background-image: url("../img/section-4/2.jpg");
                    height: 231px;
                    width: 100%;

                    @include md {
                        height: 214px;

                        width: 100%;
                    }

                    @include lg {
                        height: 407px;
                        margin-left: 0%;
                        margin-top: 65px;
                    }
                }
            }

            #g3 {
                @include md {
                    grid-area: g3;
                }

                div {
                    background-image: url("../img/section-4/3.jpg");
                    background-size: cover;
                    display: none;

                    @include md {
                        display: block;
                        height: 256px;
                        margin-right: 30%;
                    }

                    @include lg {
                        height: 329px;
                        width: 450px;
                        margin-right: 0%;
                        margin-top: 325px;
                    }
                }
            }
        }
    }
}