/* =============
    Section-7
============= */
#section-7 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    background-color: $lightgrey;
    color: $blue;
    padding: 40px 0px;
    display: grid;
    gap: 40px;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-7 .";
    justify-content: center;

    @include md {
        grid-template-columns: 15% auto 15%;
        padding: 60px 0px;
        gap: 60px;

    }

    @include lg {
        grid-template-columns: 20% auto 20%;
        padding: 80px 0px;
        gap: 80px;
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    #section-7-content {
        grid-area: section-7;
        display: grid;
        gap: 60px;

        @include lg {
            grid-template-columns: auto 50%;
            grid-template-areas:
                "intro intro"
                "benefits div"
                ". duration";

        }

        #intro {

            background-size: cover;
            background-position: center;


            @include lg {
                display: grid;
                grid-template-columns: 20% auto 20%;
                grid-template-rows: repeat (2, 1fr);
                grid-template-areas:
                    ". h1 ."
                    " . p . ";
                grid-area: intro;
            }

            h1 {
                font-size: rem-calc(20);
                text-align: center;

                @include md {
                    font-size: rem-calc(30);
                    text-align: right;
                }

                @include lg {
                    grid-area: h1;
                    font-size: rem-calc(50);
                    text-align: left;
                }
            }

            p {
                @include lg {
                    grid-area: p;
                }

            }
        }

        div {
            background-image: url("../img/section-7/hero.jpg");
            height: 139px;




            @include md {
                background-image: url("../img/section-7/hero 2.jpg");
                height: 263px;
                width: 558px;


            }

            @include lg {
                grid-area: div;
                width: 616px;
                height: 263px;

            }
        }

        #benefits {

            @include lg {
                grid-area: benefits;
            }

            h2 {


                @include md {
                    font-size: rem-calc(30);
                    text-align: left;
                }

                @include lg {
                    font-size: rem-calc(50);
                    text-align: left;
                }
            }

            p {
                text-align: left;
            }


        }

        #duration {

            @include lg {
                grid-area: duration;
            }

            h3 {
                @include md {
                    font-size: rem-calc(30);
                    text-align: right;
                }

                @include lg {
                    font-size: rem-calc(50);
                    text-align: right;
                }
            }

            p {
                text-align: right;
            }
        }




        p {
            font-size: rem-calc(18);
            text-align: justify;

            @include lg {
                font-size: rem-calc(20);
            }

        }


    }
}