/* =============
    Section-8
============= */

#section-8 {
    background-color: $lightgrey;
    color: $blue;
    display: grid;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    gap: 40px;
    grid-template-areas: ". section-8 .";
    grid-template-columns: 15px auto 15px;
    padding-bottom: 40px;

    @include md {
        grid-template-columns: 15% auto 15%;
        padding-bottom: 60px;

    }

    @include lg {
        grid-template-columns: 20% auto 20%;
        padding-bottom: 80px;
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    >div {
        grid-area: section-8;

        #button1 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: ". h1 .";

            h1 {
                align-items: center;
                background-color: $black;
                color: $white;
                display: flex;
                font-size: rem-calc(16);
                grid-area: h1;
                height: 32px;
                justify-content: center;
                margin-bottom: 40px;
                width: 182px;

                @include md {
                    display: none;
                }

                a:link,
                a:visited {
                    color: $white;
                    transition: 0.25s;
                    text-decoration: none;
                }

                a:hover,
                a:active {
                    color: $brown;
                }
            }
        }

        #button2 {
            display: grid;
            gap: 40px;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                ". h2 .";

            h2 {
                align-items: center;
                background-color: $black;
                color: $white;
                display: flex;
                font-size: rem-calc(16);
                grid-area: h2;
                height: 32px;
                justify-content: center;
                margin-bottom: 20px;
                width: 182px;

                @include md {
                    font-size: rem-calc(20);
                    height: 71px;
                    width: 360px;
                }

                @include lg {
                    font-size: rem-calc(25);
                    height: 71px;
                    width: 450px;
                }

                a:link,
                a:visited {
                    color: $white;
                    transition: 0.25s;
                    text-decoration: none;
                }

                a:hover,
                a:active {
                    color: $brown;
                }
            }
        }

        h3 {
            font-size: rem-calc(16);
            grid-area: h3;
            text-align: center;

            @include md {
                display: none;
            }

            a:link,
            a:visited {
                color: $blue;
                transition: 0.25s;
                text-decoration: underline;
            }

            a:hover,
            a:active {
                color: $brown;
                text-decoration: none;
            }
        }

        h4 {
            text-align: center;

            @include md {
                font-size: rem-calc(20);
            }

            @include lg {
                font-size: rem-calc(25);
            }

            a:link,
            a:visited {
                color: $blue;
                font-size: rem-calc(18);
                text-decoration: none;
                transition: 0.25s;
            }

            a:hover,
            a:active {
                color: $brown;
            }
        }
    }
}