/* =============
    Section-10
============= */

#section-10 {

    background-color: $lightblue;
    color: $white;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: " . section-10 .";

    @include md {
        padding-bottom: 60px;
        gap: 60px;
    }

    @include lg {
        padding-bottom: 80px;
        grid-template-columns: 10% auto 10%;
    }
    
    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    #section-10-content {
        grid-area: section-10;

        #photography {
  
            @include md {
                display: grid;
                padding: 20px;
                gap: 20px;
                grid-template-columns: auto 45% 45% auto;
                grid-template-areas:
                " . h1 h1 ."   
                " . p p .";
                    
            }

            @include lg {
                grid-template-columns: auto 30% 60% auto;
                grid-template-areas:
                    " . . p ."
                    " . h1 . .";
            }

            h1 {
                grid-area: h1;
                font-size: rem-calc(16);
                text-align: center;
                

                @include md {
                    font-size: rem-calc(30);
                    text-align: left;

                }

                @include lg {
                    font-size: rem-calc(40);
                    transform: rotate(-90deg);
                    margin-left: 150px;
                   

                }
            }

            p {
                grid-area: p;
                text-align: justify;
                font-size: rem-calc(16);

                @include md {
                    font-size: rem-calc(20);

                }

                @include lg {
                    font-size: rem-calc(25);

                }
            }
        }

        #section-10-gallery{

            ul {
                @include md {
                    display: grid;
                    gap: 15px;
                    grid-template-columns:auto 60%;
                    grid-template-areas: "g7 g8";

                }

                @include lg {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-areas: ". g7 g8 g8 ";
                    margin-left: 150px;

                }

                li{
                    background-position: center;
                    background-size: cover;
              
                }

                #g7 {
                    div{
                        background-image: url("../img/section-10/left.jpg");
                        height: 205px;
                    }

                    @include md{
                        grid-area: g7;  
                    }

                    @include lg {
                        width: 238px;
                    }
                }

                #g8 {
                    div{
                        background-image: url("../img/section-10/right.jpg");
                        height: 205px;
                        
                    }

                    @include md{
                        grid-area: g8;  
                    }

                    @include lg {
                        width: 400px;
                        
                    }
                }
            }
         }
    }   
}
