/* =============
    Section-1
============= */
#section-1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    padding-top: 40px;

    @include md {
        padding-top: 60px;
    }

    @include lg {
        padding-top: 200px;
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    #section-1-gallery {
        @include lg {
            background-color: $blue;
            display: grid;
            grid-template-columns: auto 90% auto;
            grid-template-areas: ". aside .";
        }

        aside {
            background-image: url('../img/section-1/hero.jpg');
            background-position: center;
            background-size: cover;
            height: 265px;
            width: 100%;
 
            @include md {
                height: 423px;
            }

            @include lg {
                grid-area: aside;
                height: 724px;
            }
        }
    }

    >div {
        background-color: $blue;
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            ". h1 ."
            "h2 h2 h2";

        @include md {
            gap: 60px;
        }

        @include lg {
            gap: 80px;
        }

        h1 {
            align-items: center;
            background-color: $black;
            color: $white;
            display: flex;
            font-size: rem-calc(16);
            grid-area: h1;
            height: 48px;
            justify-content: center;
            margin-top: -20px;
            width: 140px;

            @include md {
                font-size: rem-calc(20);
                height: 71px;
                width: 322px;
            }

            @include lg {
                font-size: rem-calc(25);
                height: 85px;
                width: 408px;
            }

            a:link,
            a:visited {
                color: $white;
                transition: 0.25s;
                text-decoration: none;
            }

            a:hover,
            a:active {
                color: $brown;
            }
        }

        h2 {
            color: $brown;
            font-size: rem-calc(18);
            grid-area: h2;
            line-height: rem-calc(22);
            padding-bottom: 35px;
            text-align: center;

            @include md {
                font-size: rem-calc(25);
                line-height: rem-calc(42);
                padding-bottom: 60px;
            }

            @include lg {
                font-size: rem-calc(35);
                line-height: rem-calc(49);
                padding-bottom: 80px;
            }
        }
    }
}