/* =============
    Section-11
============= */
#section-11 {
    color: $blue;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". section-11 .";

    @include md {
        grid-template-columns: 10% auto 10%;
    }

    @include lg {
        grid-template-columns: 15% auto 15%;
        padding-bottom: 80px;
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    #section-11-content {
        grid-area: section-11;
        display: grid;

        @include md {
            gap: 20px;
            grid-template-rows: 30% auto;
            grid-template-columns: 80% auto;
            grid-template-areas:
                "article title1 "
                "video title1";

            h1 {
                font-size: rem-calc(30);
                margin-top: 50px;

                @include lg {
                    font-size: rem-calc(50);
                }
            }
        }

        @include lg {

            grid-template-rows: 30% auto;
            grid-template-columns: 50% auto;
            grid-template-areas:
                " title1 title1 "
                "article video";
        }

        #title1 {
            grid-area: title1;

            @include md {
                transform: rotate(90deg);
                margin-left: -200px;
                margin-top: 50px;
                font-size: rem-calc(20);
            }

            @include lg {
                margin: 0;
                text-align: center;
                transform: none;
                font-size: rem-calc(30);
            }

            #article {

                grid-area: article;

                h2 {
                    grid-area: h2;
                    font-size: rem-calc(20);

                    @include lg {
                        font-size: rem-calc(30);
                    }
                }

                p {
                    font-size: rem-calc(16);

                    @include md {
                        font-size: rem-calc(18);
                    }

                    @include lg {
                        font-size: rem-calc(20);
                    }
                }
            }

            #video {
                grid-area: video;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;

                div {
                    width: 100%;

                    video {
                        width: 100%;

                    }
                }
            }
        }
    }
}