/* =============
    Section-5
============= */

#section-5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    font-style: italic;
    background-color: $lightgrey;
    padding: 40px 0;
    display: grid;
    grid-template-areas: ". section-5 .";
    grid-template-columns: 15px auto 15px;

    @include md {
        padding: 60px 0;
        grid-template-columns: 15% auto 15%;
    }

    @include lg {
        padding: 80px 0;
        grid-template-columns: 20% auto 20%;
    }

    @include xl {
        grid-template-columns: "auto 1200px auto";
    }

    #section-5-content {
        grid-area: section-5;
        color: $blue;

        #section-5-top {
            display: grid;
            gap: 20px;
            grid-template-rows: (4, 1fr);
            grid-template-columns: 50% auto;
            grid-template-areas:
                "h1 h1"
                "h2 h2"
                ". h3"
                "p p";

            @include md {
                gap: 30px;
                grid-template-rows: (3, 1fr);
                grid-template-columns: 70% auto;
                grid-template-areas:
                    "h1 h1"
                    "h2 h2"
                    "p h3";

            }
        }

        #section-5-bottom {
            @include md {
                padding-top: 20px;
                display: grid;
                gap: 30px;
                grid-template-rows: (2, 1fr);
                grid-template-columns: 30% 70%;
                grid-template-areas:
                    "h4 h4"
                    "p p";
            }

        }

        h1 {
            grid-area: h1;
            font-size: 20px;
            text-align: left;

            @include md {
                font-size: 25px;
            }

            @include lg {
                font-size: 40px;
            }
        }

        h2 {
            grid-area: h2;
            font-size: 18px;
            margin-left: 80px;

            @include md {
                font-size: 20px;
                margin-left: 150px;
            }

            @include lg {
                font-size: 30px;

            }
        }

        h3 {
            grid-area: h3;
            font-size: 18px;

            @include md {
                transform: rotate(90deg);
                font-size: 18px;
                padding-top: 100px;
            }

            @include lg {
                font-size: 20px;
            }
        }

        P {
            grid-area: p;
            font-size: 18px;
            text-align: justify;

            @include lg {
                font-size: 18px;
            }
        }

        h4 {
            grid-area: h4;
            font-size: 18px;
            text-align: right;

            @include md {
                font-size: 25px;
                margin-left: 40%;
            }

            @include lg {
                font-size: 40px;
            }
        }
    }
}