/* =============
    Section-10
============= */

#section-10 {

    background-color: $lightblue;
    color: $white;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 5px auto 5px;
    grid-template-areas: " . section-9 .";

    @include md {
        padding-bottom: 60px;
        gap: 60px;

    }

    @include lg {
        padding-bottom: 80px;

        grid-template-columns: 10% auto 10%;
    }
    
    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    #section-10-content {
        grid-area: section-9;

        #photography {
            
            @include md {
                display: grid;
                padding: 20px;
                grid-template-rows: 20% auto;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas:
                " h1 ."   
                " p p";
                    
            }

            @include lg {
                grid-template-columns: auto 60%;
                grid-template-areas:
                    " . p "
                    " h1 .";
            }

            h1 {
                grid-area: h1;
                font-size: rem-calc(16);
                text-align: center;

                @include md {
                    font-size: rem-calc(20);

                }

                @include lg {
                    font-size: rem-calc(30);
                    transform: rotate(-90deg);
                    margin-left: 300px;

                }
            }

            p {
                grid-area: p;
                text-align: justify;
                font-size: rem-calc(16);

                @include md {
                    font-size: rem-calc(20);

                }

                @include lg {
                    font-size: rem-calc(25);

                }
            }
        }

        #gallery-2 {

            ul {
                background-image: cover;
                background-position: center;

                @include md {
                    display: grid;
                    gap: 15px;
                    grid-template-columns: auto 70%;
                    grid-template-areas: "g1 g2";

                }

                @include lg {
                    display: grid;
                    gap: 20px;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-areas: ". . g1 g2 ";

                }

                #g4 {
                    grid-area: g4;
                    background-image: url("../img/section-10/left.jpg");
                    height: 218px;
                    width: 238px;

                    @include lg {
                        width: 268px;
                    }
                }

                #g5 {
                    grid-area: g5;
                    background-image: url("../img/section-10/right.jpg");
                    width: 460px;
                    height: 218px;

                    @include lg {
                        width: 490px;
                    }
                }
            }
        }
    }
}