/* =============
    Header
============= */

header {
    background-color: $blue;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    >div {
       
        display: grid;
        grid-template-columns: auto 85%;
        grid-template-areas:
            "burger logo"
            "nav nav";

        @include md {
            grid-template-columns: auto 82%;
            grid-template-areas:
                "burger logo"
                "nav nav";
        }

        @include lg {
            grid-template-rows: 30% auto;
            grid-template-areas:
                ". top"
                "logo nav";
            grid-template-columns: 40% auto;
        }
        
        #top {
            @include lg {
                padding: 60px 0;
                grid-area: top;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-areas: ". h1 h2";

                h1 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $brown;
                    grid-area: h1;
                    font-size: rem-calc(25px);

                }

                h2 {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $white;
                    width: 198px;
                    height: 55px;
                    border-radius: 20px;
                    color: $blue;
                    grid-area: h2;
                    font-size: rem-calc(25px);
                }
            }
        }

        #logo-container {
            grid-area: logo;
            margin: 48px;

            h3 {
                font-size: rem-calc(20px);
                color: $brown;
                text-align: center;

                @include md {
                    font-size: 40px;
                }
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;
            color: $brown;

            @include lg {
                display: none;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color: $blue;
            color: $blue;
            height: 150px;
            display: none;
            grid-area: nav;
            margin-top: 60px;
            font-size: rem-calc(18px);

            @include md {
                font-size: rem-calc(25px);
                height: 300px;
            }

            @include lg {
                height: 100px;
                font-size: rem-calc(25px);
                display: block;
            }

            h4 {
                color: $brown;
            }

            a:link, a:visited{
                color: $brown;
                transition: 0.25s;
                text-decoration: none;
                
            }

            a:hover, a:active{
                color: $white;
            }
        }
    }
}