/* =============
    Header
============= */

header {
    background-color: $blue;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    left: 0;
    padding-top: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;

    @include lg {
        background-color: $blue;
        display: grid;
        grid-template-columns: 30% auto 30%;
        grid-template-areas: ". header ."
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    >div {
        display: grid;
        grid-area: header;
        grid-template-columns: auto 77%;
        grid-template-areas:
            "burger logo"
            "nav nav";

        @include md {
            grid-template-columns: auto 75%;
            grid-template-areas:
                "burger logo"
                "nav nav";
        }

        @include lg {
            grid-template-rows: 30% auto;
            grid-template-columns: 40% auto;
            grid-template-areas:
                ". top"
                "logo nav";
        }

        #top {
            @include lg {
                display: grid;
                grid-area: top;
                grid-template-areas: ". h1 h2";
                grid-template-columns: repeat(3, 1fr);
                padding: 10px 0 100px;

                h1 {
                    align-items: center;
                    color: $brown;
                    display: flex;
                    font-size: rem-calc(18px);
                    grid-area: h1;
                    justify-content: center;
                }

                h2 {
                    align-items: center;
                    background-color: $white;
                    border-radius: 20px;
                    color: $blue;
                    display: flex;
                    font-size: rem-calc(18px);
                    grid-area: h2;
                    height: 55px;
                    justify-content: center;
                    width: 198px;
                }
            }
        }

        #logo-container {
            display: grid;
            grid-area: logo;
            grid-template-areas: " . logo-container .";
            grid-template-columns: 15% auto 15%;
            padding-bottom: 20px;

            h3 {
                align-items: center;
                color: $brown;
                display: flex;
                font-size: rem-calc(18px);
                grid-area: logo-container;
                text-align: center;

                @include md {
                    font-size: 30px;
                }
            }
        }

        #burger-container {
            color: $white;
            display: flex;
            grid-area: burger;
            justify-content: flex-start;
            margin-left: 35%;

            @include lg {
                display: none;
            }

            i {
                cursor: pointer;
            }
        }

        #nav-container {
            background-color: $blue;
            display: none;
            font-size: rem-calc(16px);
            grid-area: nav;
            height: 100%;
            padding: 20px 0 0 20px;

            @include md {
                font-size: rem-calc(18px);
            }

            @include lg {
                padding: 0;
                display: block;
            }

            li {
                text-align: left;
            }

            h4 {
                color: $brown;
            }

            a:link,
            a:visited {
                color: $brown;
                transition: 0.25s;
                text-decoration: none;
            }

            a:hover,
            a:active {
                color: $white;
            }
        }
    }
}